/* screen - desktop-1 */

.desktop-1 {
  background-color: var(--white);
  height: 1024px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.desktop-1 .rectangle-14-Ys8k0x {
  background-color: var(--mist-gray);
  border-radius: 11px;
  height: 105px;
  left: 138px;
  mix-blend-mode: normal;
  position: absolute;
  top: 769px;
  width: 106px;
}

.desktop-1 .image-product-1-thumbnail-1-Ys8k0x {
  background-color: transparent;
  height: 101px;
  left: 141px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 771px;
  width: 100px;
}

.desktop-1 .group-23-Ys8k0x {
  background-color: transparent;
  height: 842px;
  left: 88px;
  position: absolute;
  top: 30px;
  width: 1263px;
}

.desktop-1 .group-21-L0xiCQ {
  background-color: transparent;
  height: 837px;
  left: 0px;
  position: absolute;
  top: 5px;
  width: 1259px;
}

.desktop-1 .group-15-yonPSg {
  background-color: transparent;
  height: 92px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1271px;
}

.desktop-1 .sneakers-bf8b7R {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 1.05px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.desktop-1 .spanlga9o-8xCUDA {
}

.desktop-1 .collections-bf8b7R {
  background-color: transparent;
  height: auto;
  left: 218px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11px;
  width: auto;
}

.desktop-1 .spanyjqr9-dlQ9rL {
}

.desktop-1 .men-bf8b7R {
  background-color: transparent;
  height: auto;
  left: 344px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11px;
  width: auto;
}

.desktop-1 .spany5tg2-jHv432 {
}

.desktop-1 .women-bf8b7R {
  background-color: transparent;
  height: auto;
  left: 417px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11px;
  width: auto;
}

.desktop-1 .spanybme6-z2TzPO {
}

.desktop-1 .about-bf8b7R {
  background-color: transparent;
  height: auto;
  left: 517px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11px;
  width: auto;
}

.desktop-1 .spanxwaxj-eoVqd1 {
}

.desktop-1 .contact-bf8b7R {
  background-color: transparent;
  height: auto;
  left: 604px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11px;
  width: auto;
}

.desktop-1 .spangmfyj-cAYOe2 {
}

.desktop-1 .line-2-bf8b7R {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 92px;
  width: 1259px;
}

.desktop-1 .group-20-yonPSg {
  background-color: transparent;
  height: 643px;
  left: 53px;
  position: absolute;
  top: 194px;
  width: 1157px;
}

.desktop-1 .group-19-gN3Wnt {
  background-color: transparent;
  height: 487px;
  left: 649px;
  position: absolute;
  top: 70px;
  width: 516px;
}

.desktop-1 .these-low-profile-sn-ZnZL2C {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.18px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 189px;
  width: 502px;
}

.desktop-1 .span7oy2k-YpJN2t {
}

.desktop-1 .sneaker-company-ZnZL2C {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 1.95px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.desktop-1 .spanqnb38-naMKxb {
}

.desktop-1 .fall-limited-edition-sneakers-ZnZL2C {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 37px;
  width: 451px;
}

.desktop-1 .spansjqp6-xY14mD {
}

.desktop-1 .x12500-ZnZL2C {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 306px;
  width: 130px;
}

.desktop-1 .spanfdbpk-VGO70l {
}

.desktop-1 .group-13-ZnZL2C {
  background-color: transparent;
  height: 30px;
  left: 141px;
  position: absolute;
  top: 313px;
  width: 59px;
}

.desktop-1 .rectangle-6-KgbrZM {
  background-color: var(--linen);
  border-radius: 5px;
  height: 30px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 57px;
}

.desktop-1 .x50-KgbrZM {
  background-color: transparent;
  height: auto;
  left: 9px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 2px;
  width: auto;
}

.desktop-1 .span2gc3q-hqQ7PY {
}

.desktop-1 .group-14-ZnZL2C {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 357px;
  width: 132px;
}

.desktop-1 .x25000-wS2xx3 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.54px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 130px;
}

.desktop-1 .spang9o0h-IlHHM4 {
}

.desktop-1 .line-1-wS2xx3 {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 14px;
  width: 72px;
}

.desktop-1 .group-16-ZnZL2C {
  background-color: transparent;
  height: 65px;
  left: 198px;
  position: absolute;
  top: 422px;
  width: 310px;
}

.desktop-1 .rectangle-8-E5K8gL {
  background-color: var(--pumpkin);
  border-radius: 10px;
  box-shadow: 0px 10px 8px #f97e222b;
  height: 65px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 310px;
}

.desktop-1 .group-4-E5K8gL {
  background-color: transparent;
  height: 22px;
  left: 87px;
  position: absolute;
  top: 22px;
  width: 138px;
}

.desktop-1 .icon-cart-1-kXF2sF {
  background-color: transparent;
  height: 18px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 19px;
}

.desktop-1 .add-to-cart-kXF2sF {
  background-color: transparent;
  height: auto;
  left: 38px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.desktop-1 .span5xorm-mjEtPw {
}

.desktop-1 .group-17-ZnZL2C {
  background-color: transparent;
  height: 63px;
  left: 0px;
  position: absolute;
  top: 424px;
  width: 178px;
}

.desktop-1 .rectangle-7-rWmgHG {
  background-color: var(--white-lilac);
  border-radius: 10px;
  height: 63px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 178px;
}

.desktop-1 .group-6-rWmgHG {
  background-color: transparent;
  height: 22px;
  left: 18px;
  position: absolute;
  top: 21px;
  width: 144px;
}

.desktop-1 .icon-plus-1-wbcYAX {
  background-color: transparent;
  height: 13px;
  left: 129px;
  mix-blend-mode: normal;
  position: absolute;
  top: 5px;
  width: 13px;
}

.switch-button {
  /* display: none; */

  opacity: 0;
}

.desktop-1 .icon-minus-1-wbcYAX {
  background-color: transparent;
  height: 5px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 9px;
  width: 16px;
}

.desktop-1 .x0-wbcYAX {
  background-color: transparent;
  height: auto;
  left: 65px;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.desktop-1 .spanhx27jj-xkb2oX {
}

.desktop-1 .group-18-gN3Wnt {
  background-color: transparent;
  height: 643px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 508px;
}

.desktop-1 .mask-group-uvZtqD {
  background-color: transparent;
  height: 506px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 507px;
}

.desktop-1 .rectangle-16-uvZtqD {
  background-color: var(--white-2);
  border-radius: 9px;
  height: 101px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 542px;
  width: 100px;
}

.desktop-1 .mask-group-0s3wDv {
  background-color: transparent;
  height: 101px;
  left: 407px;
  position: absolute;
  top: 542px;
  width: 101px;
}

.desktop-1 .mask-group-Xl3RK6 {
  background-color: transparent;
  height: 101px;
  left: 271px;
  position: absolute;
  top: 542px;
  width: 101px;
}

.desktop-1 .mask-group-tPRtGu {
  background-color: transparent;
  height: 101px;
  left: 135px;
  position: absolute;
  top: 542px;
  width: 101px;
}

.desktop-1 .group-22-L0xiCQ {
  background-color: transparent;
  height: 60px;
  left: 1127px;
  position: absolute;
  top: 0px;
  width: 136px;
}

.desktop-1 .icon-cart-3-zFvcEY {
  background-color: transparent;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 25px;
}

.desktop-1 .mask-group-zFvcEY {
  background-color: transparent;
  height: 60px;
  left: 76px;
  position: absolute;
  top: 0px;
  width: 60px;
}
