/* screen - desktop-3 */

.desktop-3 {
  background-color: var(--white);
  height: 1024px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.desktop-3 .rectangle-14-cusbr8 {
  background-color: var(--mist-gray);
  border-radius: 11px;
  height: 105px;
  left: 138px;
  mix-blend-mode: normal;
  position: absolute;
  top: 769px;
  width: 106px;
}

.desktop-3 .image-product-1-thumbnail-1-cusbr8 {
  background-color: transparent;
  height: 101px;
  left: 141px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 771px;
  width: 100px;
}

.desktop-3 .sneakers-cusbr8 {
  background-color: transparent;
  height: auto;
  left: 88px;
  letter-spacing: 1.05px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 35px;
  width: auto;
}

.desktop-3 .spanldxsb-IBHZQc {
}

.desktop-3 .collections-cusbr8 {
  background-color: transparent;
  height: auto;
  left: 306px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 46px;
  width: auto;
}

.desktop-3 .span8mm0s-6HVrUQ {
}

.desktop-3 .men-cusbr8 {
  background-color: transparent;
  height: auto;
  left: 432px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 46px;
  width: auto;
}

.desktop-3 .spanbnsyq-ZxLOmr {
}

.desktop-3 .women-cusbr8 {
  background-color: transparent;
  height: auto;
  left: 505px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 46px;
  width: auto;
}

.desktop-3 .span93jddf-AlOeLW {
}

.desktop-3 .about-cusbr8 {
  background-color: transparent;
  height: auto;
  left: 605px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 46px;
  width: auto;
}

.desktop-3 .spanmq50kk-WjfhIM {
}

.desktop-3 .contact-cusbr8 {
  background-color: transparent;
  height: auto;
  left: 692px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 46px;
  width: auto;
}

.desktop-3 .spanj5o1zj-C8FhL6 {
}

.desktop-3 .line-2-cusbr8 {
  background-color: transparent;
  height: 1px;
  left: 88px;
  position: absolute;
  top: 127px;
  width: 1259px;
}

.desktop-3 .these-low-profile-sn-cusbr8 {
  background-color: transparent;
  height: auto;
  left: 790px;
  letter-spacing: 0.18px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 488px;
  width: 502px;
}

.desktop-3 .spanhztnk-YrklhN {
}

.desktop-3 .sneaker-company-cusbr8 {
  background-color: transparent;
  height: auto;
  left: 790px;
  letter-spacing: 1.95px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 299px;
  width: auto;
}

.desktop-3 .spanpjtyu-aPuMOl {
}

.desktop-3 .fall-limited-edition-sneakers-cusbr8 {
  background-color: transparent;
  height: auto;
  left: 790px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 336px;
  width: 451px;
}

.desktop-3 .spanq8ar4-Slq9vS {
}

.desktop-3 .x12500-cusbr8 {
  background-color: transparent;
  height: auto;
  left: 790px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 605px;
  width: 130px;
}

.desktop-3 .span97btg-x1UKWa {
}

.desktop-3 .group-13-cusbr8 {
  background-color: transparent;
  height: 30px;
  left: 931px;
  position: absolute;
  top: 612px;
  width: 59px;
}

.desktop-3 .rectangle-6-ilUdRx {
  background-color: var(--linen);
  border-radius: 5px;
  height: 30px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 57px;
}

.desktop-3 .x50-ilUdRx {
  background-color: transparent;
  height: auto;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 2px;
  width: auto;
}

.desktop-3 .spanq9myuj-bxAZZD {
}

.desktop-3 .group-14-cusbr8 {
  background-color: transparent;
  height: 22px;
  left: 790px;
  position: absolute;
  top: 656px;
  width: 132px;
}

.desktop-3 .x25000-xx8Wxg {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.54px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 130px;
}

.desktop-3 .spanbvnc8-uWM9oV {
}

.desktop-3 .line-1-xx8Wxg {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 14px;
  width: 72px;
}

.desktop-3 .group-16-cusbr8 {
  background-color: transparent;
  height: 65px;
  left: 988px;
  position: absolute;
  top: 721px;
  width: 310px;
}

.desktop-3 .rectangle-8-Q8pFl2 {
  background-color: #ffac6a;
  border-radius: 10px;
  box-shadow: 0px 10px 8px #f97e222b;
  height: 65px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 310px;
}

.desktop-3 .group-4-Q8pFl2 {
  background-color: transparent;
  height: 22px;
  left: 87px;
  position: absolute;
  top: 22px;
  width: 138px;
}

.desktop-3 .icon-cart-1-RXb0VW {
  background-color: transparent;
  height: 18px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 19px;
}

.desktop-3 .add-to-cart-RXb0VW {
  background-color: transparent;
  height: auto;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.desktop-3 .spaney8vb-vLIR3V {
}

.desktop-3 .rectangle-7-cusbr8 {
  background-color: var(--white-lilac);
  border-radius: 10px;
  height: 63px;
  left: 790px;
  mix-blend-mode: normal;
  position: absolute;
  top: 723px;
  width: 178px;
}

.desktop-3 .icon-plus-1-cusbr8 {
  background-color: transparent;
  height: 13px;
  left: 937px;
  mix-blend-mode: normal;
  position: absolute;
  top: 749px;
  width: 13px;
}

.desktop-3 .icon-minus-1-cusbr8 {
  background-color: transparent;
  height: 5px;
  left: 808px;
  mix-blend-mode: normal;
  position: absolute;
  top: 753px;
  width: 16px;
}

.desktop-3 .x3-cusbr8 {
  background-color: transparent;
  height: auto;
  left: 873px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 744px;
  width: auto;
}

.desktop-3 .spanui88t-ps21pk {
}

.desktop-3 .mask-group-cusbr8 {
  background-color: transparent;
  height: 506px;
  left: 141px;
  position: absolute;
  top: 229px;
  width: 507px;
}

.desktop-3 .rectangle-16-cusbr8 {
  background-color: var(--white-2);
  border-radius: 9px;
  height: 101px;
  left: 141px;
  mix-blend-mode: normal;
  position: absolute;
  top: 771px;
  width: 100px;
}

.desktop-3 .mask-group-yo9xbe {
  background-color: transparent;
  height: 101px;
  left: 548px;
  position: absolute;
  top: 771px;
  width: 101px;
}

.desktop-3 .mask-group-rQk8bn {
  background-color: transparent;
  height: 101px;
  left: 412px;
  position: absolute;
  top: 771px;
  width: 101px;
}

.desktop-3 .mask-group-RppJxX {
  background-color: transparent;
  height: 101px;
  left: 276px;
  position: absolute;
  top: 771px;
  width: 101px;
}

.desktop-3 .icon-cart-3-cusbr8 {
  background-color: transparent;
  height: 24px;
  left: 1215px;
  mix-blend-mode: normal;
  position: absolute;
  top: 48px;
  width: 25px;
}

.desktop-3 .mask-group-wEc1fp {
  background-color: transparent;
  height: 60px;
  left: 1291px;
  position: absolute;
  top: 30px;
  width: 60px;
}

.desktop-3 .rectangle-17-cusbr8 {
  background-color: var(--white-2);
  border-radius: 11px;
  height: 101px;
  left: 276px;
  mix-blend-mode: normal;
  position: absolute;
  top: 771px;
  width: 101px;
}

.desktop-3 .line-3-cusbr8 {
  background-color: transparent;
  height: 5px;
  left: 507px;
  position: absolute;
  top: 127px;
  width: 67px;
}

.desktop-3 .ellipse-4-cusbr8 {
  background-color: transparent;
  border: 2px solid var(--pumpkin);
  border-radius: 30px;
  height: 60px;
  left: 1291px;
  position: absolute;
  top: 30px;
  width: 60px;
}

.desktop-3 .group-26-cusbr8 {
  background-color: transparent;
  height: 291px;
  left: 968px;
  position: absolute;
  top: 94px;
  width: 413px;
}

.desktop-3 .group-25-pF5ENP {
  background-color: transparent;
  height: 291px;
  left: 0px;
  position: absolute;
  top: 9px;
  width: 409px;
}

.desktop-3 .cart-pF5ENP {
  background-color: transparent;
  height: auto;
  left: 28px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 31px;
  width: 68px;
}

.desktop-3 .spangqn1qf-k511ke {
}

.desktop-3 .your-cart-is-empty-pF5ENP {
  background-color: transparent;
  color: var(--oslo-gray);
  font-family: var(--font-family-kumbh_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 124px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 157px;
  width: 161px;
}

.desktop-3 .spanycjbt-kEvJG7 {
  font-style: normal;
}
