/* screen - desktop-4 */

.desktop-4 {
  background-color: var(--white);
  height: 1024px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.desktop-4 .rectangle-14-ZwZd20 {
  background-color: var(--mist-gray);
  border-radius: 11px;
  height: 105px;
  left: 138px;
  mix-blend-mode: normal;
  position: absolute;
  top: 769px;
  width: 106px;
}

.desktop-4 .image-product-1-thumbnail-1-ZwZd20 {
  background-color: transparent;
  height: 101px;
  left: 141px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 771px;
  width: 100px;
}

.desktop-4 .group-23-ZwZd20 {
  background-color: transparent;
  height: 842px;
  left: 88px;
  position: absolute;
  top: 30px;
  width: 1263px;
}

.desktop-4 .group-21-DbmoRE {
  background-color: transparent;
  height: 837px;
  left: 0px;
  position: absolute;
  top: 5px;
  width: 1259px;
}

.desktop-4 .group-15-LU6eng {
  background-color: transparent;
  height: 92px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1271px;
}

.desktop-4 .sneakers-crv8xh {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 1.05px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.desktop-4 .span53fm4-ZF79ZG {
}

.desktop-4 .collections-crv8xh {
  background-color: transparent;
  height: auto;
  left: 218px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11px;
  width: auto;
}

.desktop-4 .spanwtjzi-HsUvmY {
}

.desktop-4 .men-crv8xh {
  background-color: transparent;
  height: auto;
  left: 344px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11px;
  width: auto;
}

.desktop-4 .spanrbf6wi-JOtwHZ {
}

.desktop-4 .women-crv8xh {
  background-color: transparent;
  height: auto;
  left: 417px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11px;
  width: auto;
}

.desktop-4 .span4q0hy-xME8Wd {
}

.desktop-4 .about-crv8xh {
  background-color: transparent;
  height: auto;
  left: 517px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11px;
  width: auto;
}

.desktop-4 .spansmpzg-2M8pIm {
}

.desktop-4 .contact-crv8xh {
  background-color: transparent;
  height: auto;
  left: 604px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11px;
  width: auto;
}

.desktop-4 .spanknc4k-MxYmbC {
}

.desktop-4 .line-2-crv8xh {
  background-color: transparent;
  height: 1px;
  left: -0px;
  position: absolute;
  top: 92px;
  width: 1259px;
}

.desktop-4 .group-20-LU6eng {
  background-color: transparent;
  height: 643px;
  left: 53px;
  position: absolute;
  top: 194px;
  width: 1157px;
}

.desktop-4 .group-19-ozVWxQ {
  background-color: transparent;
  height: 487px;
  left: 649px;
  position: absolute;
  top: 70px;
  width: 516px;
}

.desktop-4 .these-low-profile-sn-iaSpMb {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.18px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 189px;
  width: 502px;
}

.desktop-4 .spanpfaf0i-lBM2md {
}

.desktop-4 .sneaker-company-iaSpMb {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 1.95px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.desktop-4 .span2hmlwj-8AcH8S {
}

.desktop-4 .fall-limited-edition-sneakers-iaSpMb {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 37px;
  width: 451px;
}

.desktop-4 .spanteqekf-OlxNIO {
}

.desktop-4 .x12500-iaSpMb {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 306px;
  width: 130px;
}

.desktop-4 .span6hwg9-P5Clxp {
}

.desktop-4 .group-13-iaSpMb {
  background-color: transparent;
  height: 30px;
  left: 141px;
  position: absolute;
  top: 313px;
  width: 59px;
}

.desktop-4 .rectangle-6-XFGxwl {
  background-color: var(--linen);
  border-radius: 5px;
  height: 30px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 57px;
}

.desktop-4 .x50-XFGxwl {
  background-color: transparent;
  height: auto;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 2px;
  width: auto;
}

.desktop-4 .spanli5d4-2deUgd {
}

.desktop-4 .group-14-iaSpMb {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 357px;
  width: 132px;
}

.desktop-4 .x25000-NUWZuQ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.54px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 130px;
}

.desktop-4 .spanppksd-TexnrK {
}

.desktop-4 .line-1-NUWZuQ {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 14px;
  width: 72px;
}

.desktop-4 .group-16-iaSpMb {
  background-color: transparent;
  height: 65px;
  left: 198px;
  position: absolute;
  top: 422px;
  width: 310px;
}

.desktop-4 .rectangle-8-cfEchD {
  background-color: var(--pumpkin);
  border-radius: 10px;
  box-shadow: 0px 10px 8px #f97e222b;
  height: 65px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 310px;
}

.desktop-4 .group-4-cfEchD {
  background-color: transparent;
  height: 22px;
  left: 87px;
  position: absolute;
  top: 22px;
  width: 138px;
}

.desktop-4 .icon-cart-1-xZerfT {
  background-color: transparent;
  height: 18px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 19px;
}

.desktop-4 .add-to-cart-xZerfT {
  background-color: transparent;
  height: auto;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.desktop-4 .span9p55l-fMJJwc {
}

.desktop-4 .group-17-iaSpMb {
  background-color: transparent;
  height: 63px;
  left: 0px;
  position: absolute;
  top: 424px;
  width: 178px;
}

.desktop-4 .rectangle-7-LKzdu2 {
  background-color: var(--white-lilac);
  border-radius: 10px;
  height: 63px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 178px;
}

.desktop-4 .group-6-LKzdu2 {
  background-color: transparent;
  height: 22px;
  left: 18px;
  position: absolute;
  top: 21px;
  width: 144px;
}

.desktop-4 .icon-plus-1-C0RKX7 {
  background-color: transparent;
  height: 13px;
  left: 129px;
  mix-blend-mode: normal;
  position: absolute;
  top: 5px;
  width: 13px;
}

.desktop-4 .icon-minus-1-C0RKX7 {
  background-color: transparent;
  height: 5px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 9px;
  width: 16px;
}

.desktop-4 .x0-C0RKX7 {
  background-color: transparent;
  height: auto;
  left: 65px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.desktop-4 .spanc2aj8j-e9xR3d {
}

.desktop-4 .group-18-ozVWxQ {
  background-color: transparent;
  height: 643px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 508px;
}

.desktop-4 .mask-group-wxA6fQ {
  background-color: transparent;
  height: 506px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 507px;
}

.desktop-4 .rectangle-16-wxA6fQ {
  background-color: var(--white-2);
  border-radius: 9px;
  height: 101px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 542px;
  width: 100px;
}

.desktop-4 .mask-group-npk5vP {
  background-color: transparent;
  height: 101px;
  left: 407px;
  position: absolute;
  top: 542px;
  width: 101px;
}

.desktop-4 .mask-group-MxQqrv {
  background-color: transparent;
  height: 101px;
  left: 271px;
  position: absolute;
  top: 542px;
  width: 101px;
}

.desktop-4 .mask-group-6vkQ51 {
  background-color: transparent;
  height: 101px;
  left: 135px;
  position: absolute;
  top: 542px;
  width: 101px;
}

.desktop-4 .group-22-DbmoRE {
  background-color: transparent;
  height: 60px;
  left: 1127px;
  position: absolute;
  top: 0px;
  width: 136px;
}

.desktop-4 .icon-cart-3-OkL0Jb {
  background-color: transparent;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 25px;
}

.desktop-4 .mask-group-OkL0Jb {
  background-color: transparent;
  height: 60px;
  left: 76px;
  position: absolute;
  top: 0px;
  width: 60px;
}

.desktop-4 .rectangle-20-ZwZd20 {
  background-color: #000000b0;
  height: 1024px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.desktop-4 .mask-group-ZwZd20 {
  background-color: transparent;
  height: 548px;
  left: 443px;
  position: absolute;
  top: 172px;
  width: 549px;
}

.desktop-4 .mask-group-VZlvvy {
  background-color: transparent;
  height: 90px;
  left: 852px;
  position: absolute;
  top: 761px;
  width: 90px;
}

.desktop-4 .mask-group-AyU5uj {
  background-color: transparent;
  height: 90px;
  left: 734px;
  position: absolute;
  top: 761px;
  width: 90px;
}

.desktop-4 .mask-group-0nNxXJ {
  background-color: transparent;
  height: 90px;
  left: 616px;
  position: absolute;
  top: 761px;
  width: 90px;
}

.desktop-4 .icon-close-1-ZwZd20 {
  background-color: transparent;
  height: 33px;
  left: 960px;
  mix-blend-mode: normal;
  position: absolute;
  top: 126px;
  width: 31px;
}

.desktop-4 .ellipse-5-ZwZd20 {
  background-color: var(--white);
  border-radius: 29.5px;
  height: 59px;
  left: 965px;
  mix-blend-mode: normal;
  position: absolute;
  top: 416px;
  width: 59px;
}

.desktop-4 .ellipse-6-ZwZd20 {
  background-color: var(--white);
  border-radius: 29.5px;
  height: 59px;
  left: 415px;
  mix-blend-mode: normal;
  position: absolute;
  top: 416px;
  width: 59px;
}

.desktop-4 .rectangle-19-ZwZd20 {
  background-color: var(--mist-gray);
  border-radius: 11px;
  height: 90px;
  left: 498px;
  mix-blend-mode: normal;
  position: absolute;
  top: 761px;
  width: 90px;
}

.desktop-4 .image-product-1-thumbnail-2-ZwZd20 {
  background-color: transparent;
  height: 85px;
  left: 501px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 763px;
  width: 84px;
}

.desktop-4 .rectangle-20-VZlvvy {
  background-color: var(--white-2);
  border-radius: 9px;
  height: 85px;
  left: 501px;
  mix-blend-mode: normal;
  position: absolute;
  top: 763px;
  width: 84px;
}

.desktop-4 .icon-next-1-ZwZd20 {
  background-color: transparent;
  height: 21px;
  left: 987px;
  mix-blend-mode: normal;
  position: absolute;
  top: 435px;
  width: 15px;
}

.desktop-4 .icon-next-2-ZwZd20 {
  background-color: transparent;
  height: 1px;
  left: 436px;
  mix-blend-mode: normal;
  position: absolute;
  top: 435px;
  width: 1px;
}
