/* screen - desktop-5 */

.desktop-5 {
  background-color: var(--white);
  height: 1024px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.desktop-5 .rectangle-14-lMJovW {
  background-color: var(--mist-gray);
  border-radius: 11px;
  height: 105px;
  left: 138px;
  mix-blend-mode: normal;
  position: absolute;
  top: 769px;
  width: 106px;
}

.desktop-5 .image-product-1-thumbnail-1-lMJovW {
  background-color: transparent;
  height: 101px;
  left: 141px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 771px;
  width: 100px;
}

.desktop-5 .group-23-lMJovW {
  background-color: transparent;
  height: 842px;
  left: 88px;
  position: absolute;
  top: 30px;
  width: 1263px;
}

.desktop-5 .group-21-uklSsn {
  background-color: transparent;
  height: 837px;
  left: 0px;
  position: absolute;
  top: 5px;
  width: 1259px;
}

.desktop-5 .group-15-7W3t97 {
  background-color: transparent;
  height: 92px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1271px;
}

.desktop-5 .sneakers-RSjkp6 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 1.05px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.desktop-5 .spanpzccm-utG4sY {
}

.desktop-5 .collections-RSjkp6 {
  background-color: transparent;
  height: auto;
  left: 218px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11px;
  width: auto;
}

.desktop-5 .span0at37-GxWvsc {
}

.desktop-5 .men-RSjkp6 {
  background-color: transparent;
  height: auto;
  left: 344px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11px;
  width: auto;
}

.desktop-5 .spanx6rg8f-zQjN3B {
}

.desktop-5 .women-RSjkp6 {
  background-color: transparent;
  height: auto;
  left: 417px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11px;
  width: auto;
}

.desktop-5 .spanqa3gi-VEZCEC {
}

.desktop-5 .about-RSjkp6 {
  background-color: transparent;
  height: auto;
  left: 517px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11px;
  width: auto;
}

.desktop-5 .spanosp1v-gsGvyx {
}

.desktop-5 .contact-RSjkp6 {
  background-color: transparent;
  height: auto;
  left: 604px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11px;
  width: auto;
}

.desktop-5 .spanu1xta-gxMWQs {
}

.desktop-5 .line-2-RSjkp6 {
  background-color: transparent;
  height: 1px;
  left: -0px;
  position: absolute;
  top: 92px;
  width: 1259px;
}

.desktop-5 .group-20-7W3t97 {
  background-color: transparent;
  height: 643px;
  left: 53px;
  position: absolute;
  top: 194px;
  width: 1157px;
}

.desktop-5 .group-19-Qb2Kz0 {
  background-color: transparent;
  height: 487px;
  left: 649px;
  position: absolute;
  top: 70px;
  width: 516px;
}

.desktop-5 .these-low-profile-sn-Vr5zhi {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.18px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 189px;
  width: 502px;
}

.desktop-5 .spanfmqmw-sD9YKr {
}

.desktop-5 .sneaker-company-Vr5zhi {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 1.95px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.desktop-5 .spanb4yci-mvctBr {
}

.desktop-5 .fall-limited-edition-sneakers-Vr5zhi {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 37px;
  width: 451px;
}

.desktop-5 .spanxnnex-wncKRu {
}

.desktop-5 .x12500-Vr5zhi {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 306px;
  width: 130px;
}

.desktop-5 .spanhr0zph-AlZ7sc {
}

.desktop-5 .group-13-Vr5zhi {
  background-color: transparent;
  height: 30px;
  left: 141px;
  position: absolute;
  top: 313px;
  width: 59px;
}

.desktop-5 .rectangle-6-xEEEzF {
  background-color: var(--linen);
  border-radius: 5px;
  height: 30px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 57px;
}

.desktop-5 .x50-xEEEzF {
  background-color: transparent;
  height: auto;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 2px;
  width: auto;
}

.desktop-5 .spansor8q-IQAefm {
}

.desktop-5 .group-14-Vr5zhi {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 357px;
  width: 132px;
}

.desktop-5 .x25000-9WiP6f {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.54px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 130px;
}

.desktop-5 .span1vcvf-12FK1j {
}

.desktop-5 .line-1-9WiP6f {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 14px;
  width: 72px;
}

.desktop-5 .group-16-Vr5zhi {
  background-color: transparent;
  height: 65px;
  left: 198px;
  position: absolute;
  top: 422px;
  width: 310px;
}

.desktop-5 .rectangle-8-ZkIhxG {
  background-color: var(--pumpkin);
  border-radius: 10px;
  box-shadow: 0px 10px 8px #f97e222b;
  height: 65px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 310px;
}

.desktop-5 .group-4-ZkIhxG {
  background-color: transparent;
  height: 22px;
  left: 87px;
  position: absolute;
  top: 22px;
  width: 138px;
}

.desktop-5 .icon-cart-1-9hkrXi {
  background-color: transparent;
  height: 18px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 19px;
}

.desktop-5 .add-to-cart-9hkrXi {
  background-color: transparent;
  height: auto;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.desktop-5 .spanmm9d-Gxk6Hs {
}

.desktop-5 .group-17-Vr5zhi {
  background-color: transparent;
  height: 63px;
  left: 0px;
  position: absolute;
  top: 424px;
  width: 178px;
}

.desktop-5 .rectangle-7-RGYv2g {
  background-color: var(--white-lilac);
  border-radius: 10px;
  height: 63px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 178px;
}

.desktop-5 .group-6-RGYv2g {
  background-color: transparent;
  height: 22px;
  left: 18px;
  position: absolute;
  top: 21px;
  width: 144px;
}

.desktop-5 .icon-plus-1-xSxjaZ {
  background-color: transparent;
  height: 13px;
  left: 129px;
  mix-blend-mode: normal;
  position: absolute;
  top: 5px;
  width: 13px;
}

.desktop-5 .icon-minus-1-xSxjaZ {
  background-color: transparent;
  height: 5px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 9px;
  width: 16px;
}

.desktop-5 .x0-xSxjaZ {
  background-color: transparent;
  height: auto;
  left: 65px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.desktop-5 .spankerwb-OGCSKF {
}

.desktop-5 .group-18-Qb2Kz0 {
  background-color: transparent;
  height: 643px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 508px;
}

.desktop-5 .mask-group-voH4Au {
  background-color: transparent;
  height: 506px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 507px;
}

.desktop-5 .rectangle-16-voH4Au {
  background-color: var(--white-2);
  border-radius: 9px;
  height: 101px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 542px;
  width: 100px;
}

.desktop-5 .mask-group-bh3VWn {
  background-color: transparent;
  height: 101px;
  left: 407px;
  position: absolute;
  top: 542px;
  width: 101px;
}

.desktop-5 .mask-group-ObmPBJ {
  background-color: transparent;
  height: 101px;
  left: 271px;
  position: absolute;
  top: 542px;
  width: 101px;
}

.desktop-5 .mask-group-R4frcP {
  background-color: transparent;
  height: 101px;
  left: 135px;
  position: absolute;
  top: 542px;
  width: 101px;
}

.desktop-5 .group-22-uklSsn {
  background-color: transparent;
  height: 60px;
  left: 1127px;
  position: absolute;
  top: 0px;
  width: 136px;
}

.desktop-5 .icon-cart-3-Dh1QuG {
  background-color: transparent;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 25px;
}

.desktop-5 .mask-group-Dh1QuG {
  background-color: transparent;
  height: 60px;
  left: 76px;
  position: absolute;
  top: 0px;
  width: 60px;
}

.desktop-5 .rectangle-20-lMJovW {
  background-color: #000000b0;
  height: 1024px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.desktop-5 .mask-group-lMJovW {
  background-color: transparent;
  height: 548px;
  left: 443px;
  position: absolute;
  top: 172px;
  width: 549px;
}

.desktop-5 .mask-group-WixCsP {
  background-color: transparent;
  height: 90px;
  left: 852px;
  position: absolute;
  top: 761px;
  width: 90px;
}

.desktop-5 .mask-group-8xzUSw {
  background-color: transparent;
  height: 90px;
  left: 734px;
  position: absolute;
  top: 761px;
  width: 90px;
}

.desktop-5 .mask-group-d6ntcO {
  background-color: transparent;
  height: 90px;
  left: 616px;
  position: absolute;
  top: 761px;
  width: 90px;
}

.desktop-5 .icon-close-1-lMJovW {
  background-color: transparent;
  height: 33px;
  left: 960px;
  mix-blend-mode: normal;
  position: absolute;
  top: 126px;
  width: 31px;
}

.desktop-5 .ellipse-5-lMJovW {
  background-color: var(--white);
  border-radius: 29.5px;
  height: 59px;
  left: 965px;
  mix-blend-mode: normal;
  position: absolute;
  top: 416px;
  width: 59px;
}

.desktop-5 .ellipse-6-lMJovW {
  background-color: var(--white);
  border-radius: 29.5px;
  height: 59px;
  left: 415px;
  mix-blend-mode: normal;
  position: absolute;
  top: 416px;
  width: 59px;
}

.desktop-5 .rectangle-19-lMJovW {
  background-color: var(--mist-gray);
  border-radius: 11px;
  height: 90px;
  left: 498px;
  mix-blend-mode: normal;
  position: absolute;
  top: 761px;
  width: 90px;
}

.desktop-5 .image-product-1-thumbnail-2-lMJovW {
  background-color: transparent;
  height: 85px;
  left: 501px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 763px;
  width: 84px;
}

.desktop-5 .rectangle-20-WixCsP {
  background-color: var(--white-2);
  border-radius: 9px;
  height: 85px;
  left: 501px;
  mix-blend-mode: normal;
  position: absolute;
  top: 763px;
  width: 84px;
}

.desktop-5 .rectangle-21-lMJovW {
  background-color: var(--white-2);
  border-radius: 9px;
  height: 90px;
  left: 616px;
  mix-blend-mode: normal;
  position: absolute;
  top: 761px;
  width: 90px;
}

.desktop-5 .icon-next-3-lMJovW {
  background-color: transparent;
  height: 21px;
  left: 988px;
  mix-blend-mode: normal;
  position: absolute;
  top: 435px;
  width: 15px;
}

.desktop-5 .icon-next-4-lMJovW {
  background-color: transparent;
  height: 1px;
  left: 436px;
  mix-blend-mode: normal;
  position: absolute;
  top: 436px;
  width: 1px;
}
