/* screen - desktop-2 */

.desktop-2 {
  background-color: var(--white);
  height: 1024px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.desktop-2 .rectangle-14-9Mbqq5 {
  background-color: var(--mist-gray);
  border-radius: 11px;
  height: 105px;
  left: 138px;
  mix-blend-mode: normal;
  position: absolute;
  top: 769px;
  width: 106px;
}

.desktop-2 .image-product-1-thumbnail-1-9Mbqq5 {
  background-color: transparent;
  height: 101px;
  left: 141px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 771px;
  width: 100px;
}

.desktop-2 .sneakers-9Mbqq5 {
  background-color: transparent;
  height: auto;
  left: 88px;
  letter-spacing: 1.05px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 35px;
  width: auto;
}

.desktop-2 .spanls9cw-CxB6b8 {
}

.desktop-2 .collections-9Mbqq5 {
  background-color: transparent;
  height: auto;
  left: 306px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 46px;
  width: auto;
}

.desktop-2 .spans44ao-GBikcy {
}

.desktop-2 .men-9Mbqq5 {
  background-color: transparent;
  height: auto;
  left: 432px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 46px;
  width: auto;
}

.desktop-2 .span4ftgu-RSde0O {
}

.desktop-2 .women-9Mbqq5 {
  background-color: transparent;
  height: auto;
  left: 505px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 46px;
  width: auto;
}

.desktop-2 .spansnwmh-zwF5yY {
}

.desktop-2 .about-9Mbqq5 {
  background-color: transparent;
  height: auto;
  left: 605px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 46px;
  width: auto;
}

.desktop-2 .spanpdiv5-X7TliU {
}

.desktop-2 .contact-9Mbqq5 {
  background-color: transparent;
  height: auto;
  left: 692px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 46px;
  width: auto;
}

.desktop-2 .spankzf5x-2Nxxfx {
}

.desktop-2 .line-2-9Mbqq5 {
  background-color: transparent;
  height: 1px;
  left: 88px;
  position: absolute;
  top: 127px;
  width: 1259px;
}

.desktop-2 .these-low-profile-sn-9Mbqq5 {
  background-color: transparent;
  height: auto;
  left: 790px;
  letter-spacing: 0.18px;
  line-height: 30px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 488px;
  width: 502px;
}

.desktop-2 .span4g2b4-t4jW6I {
}

.desktop-2 .sneaker-company-9Mbqq5 {
  background-color: transparent;
  height: auto;
  left: 790px;
  letter-spacing: 1.95px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 299px;
  width: auto;
}

.desktop-2 .spanc33paj-KaUte1 {
}

.desktop-2 .fall-limited-edition-sneakers-9Mbqq5 {
  background-color: transparent;
  height: auto;
  left: 790px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 336px;
  width: 451px;
}

.desktop-2 .spanef16pk-YV2xB3 {
}

.desktop-2 .x12500-9Mbqq5 {
  background-color: transparent;
  height: auto;
  left: 790px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 605px;
  width: 130px;
}

.desktop-2 .spanqjwsr-Hy3Af1 {
}

.desktop-2 .group-13-9Mbqq5 {
  background-color: transparent;
  height: 30px;
  left: 931px;
  position: absolute;
  top: 612px;
  width: 59px;
}

.desktop-2 .rectangle-6-wweqY9 {
  background-color: var(--linen);
  border-radius: 5px;
  height: 30px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 57px;
}

.desktop-2 .x50-wweqY9 {
  background-color: transparent;
  height: auto;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 2px;
  width: auto;
}

.desktop-2 .spanm684v-PIG0Jg {
}

.desktop-2 .group-14-9Mbqq5 {
  background-color: transparent;
  height: 22px;
  left: 790px;
  position: absolute;
  top: 656px;
  width: 132px;
}

.desktop-2 .x25000-U0y6Ne {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.54px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 130px;
}

.desktop-2 .spanvp93y-Xz5ZZa {
}

.desktop-2 .line-1-U0y6Ne {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 14px;
  width: 72px;
}

.desktop-2 .group-16-9Mbqq5 {
  background-color: transparent;
  height: 65px;
  left: 988px;
  position: absolute;
  top: 721px;
  width: 310px;
}

.desktop-2 .rectangle-8-pVYFnV {
  background-color: #ffac6a;
  border-radius: 10px;
  box-shadow: 0px 10px 8px #f97e222b;
  height: 65px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 310px;
}

.desktop-2 .group-4-pVYFnV {
  background-color: transparent;
  height: 22px;
  left: 87px;
  position: absolute;
  top: 22px;
  width: 138px;
}

.desktop-2 .icon-cart-1-QFous7 {
  background-color: transparent;
  height: 18px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 19px;
}

.desktop-2 .add-to-cart-QFous7 {
  background-color: transparent;
  height: auto;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.desktop-2 .spancumtjl-WxQSxj {
}

.desktop-2 .rectangle-7-9Mbqq5 {
  background-color: var(--white-lilac);
  border-radius: 10px;
  height: 63px;
  left: 790px;
  mix-blend-mode: normal;
  position: absolute;
  top: 723px;
  width: 178px;
}

.desktop-2 .icon-plus-1-9Mbqq5 {
  background-color: transparent;
  height: 13px;
  left: 937px;
  mix-blend-mode: normal;
  position: absolute;
  top: 749px;
  width: 13px;
}

.desktop-2 .icon-minus-1-9Mbqq5 {
  background-color: transparent;
  height: 5px;
  left: 808px;
  mix-blend-mode: normal;
  position: absolute;
  top: 753px;
  width: 16px;
}

.desktop-2 .x3-9Mbqq5 {
  background-color: transparent;
  height: auto;
  left: 873px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 744px;
  width: auto;
}

.desktop-2 .span0qe5d-1nmjVn {
}

.desktop-2 .mask-group-9Mbqq5 {
  background-color: transparent;
  height: 506px;
  left: 141px;
  position: absolute;
  top: 229px;
  width: 507px;
}

.desktop-2 .rectangle-16-9Mbqq5 {
  background-color: var(--white-2);
  border-radius: 9px;
  height: 101px;
  left: 141px;
  mix-blend-mode: normal;
  position: absolute;
  top: 771px;
  width: 100px;
}

.desktop-2 .mask-group-TjBfkx {
  background-color: transparent;
  height: 101px;
  left: 548px;
  position: absolute;
  top: 771px;
  width: 101px;
}

.desktop-2 .mask-group-63kEwB {
  background-color: transparent;
  height: 101px;
  left: 412px;
  position: absolute;
  top: 771px;
  width: 101px;
}

.desktop-2 .mask-group-AUNVTo {
  background-color: transparent;
  height: 101px;
  left: 276px;
  position: absolute;
  top: 771px;
  width: 101px;
}

.desktop-2 .icon-cart-3-9Mbqq5 {
  background-color: transparent;
  height: 24px;
  left: 1215px;
  mix-blend-mode: normal;
  position: absolute;
  top: 48px;
  width: 25px;
}

.desktop-2 .mask-group-xIbgyx {
  background-color: transparent;
  height: 60px;
  left: 1291px;
  position: absolute;
  top: 30px;
  width: 60px;
}

.desktop-2 .rectangle-18-9Mbqq5 {
  background-color: var(--pumpkin);
  border-radius: 8px;
  height: 16px;
  left: 1229px;
  mix-blend-mode: normal;
  position: absolute;
  top: 41px;
  width: 23px;
}

.desktop-2 .rectangle-17-9Mbqq5 {
  background-color: var(--white-2);
  border-radius: 11px;
  height: 101px;
  left: 276px;
  mix-blend-mode: normal;
  position: absolute;
  top: 771px;
  width: 101px;
}

.desktop-2 .line-3-9Mbqq5 {
  background-color: transparent;
  height: 5px;
  left: 507px;
  position: absolute;
  top: 127px;
  width: 67px;
}

.desktop-2 .x3-TjBfkx {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-kumbh_sans);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 800;
  height: auto;
  left: 1237px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 41px;
  width: auto;
}

.desktop-2 .spany3ang-ld3gqd {
  font-style: normal;
}

.desktop-2 .ellipse-4-9Mbqq5 {
  background-color: transparent;
  border: 2px solid var(--pumpkin);
  border-radius: 30px;
  height: 60px;
  left: 1291px;
  position: absolute;
  top: 30px;
  width: 60px;
}

.desktop-2 .group-27-9Mbqq5 {
  background-color: transparent;
  height: 291px;
  left: 968px;
  position: absolute;
  top: 94px;
  width: 411px;
}

.desktop-2 .group-24-lxB7Op {
  background-color: transparent;
  height: 291px;
  left: 0px;
  position: absolute;
  top: 9px;
  width: 409px;
}

.desktop-2 .group-17-lxB7Op {
  background-color: transparent;
  height: 65px;
  left: 28px;
  position: absolute;
  top: 197px;
  width: 354px;
}

.desktop-2 .group-25-1pSnBW {
  background-color: transparent;
  height: 65px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 354px;
}

.desktop-2 .rectangle-8-x5ARx9 {
  background-color: var(--pumpkin);
  border-radius: 10px;
  height: 65px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 354px;
}

.desktop-2 .group-4-x5ARx9 {
  background-color: transparent;
  height: 22px;
  left: 135px;
  position: absolute;
  top: 21px;
  width: 86px;
}

.desktop-2 .checkout-GSvm99 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.desktop-2 .spanz61o1-c6xHWA {
}

.desktop-2 .image-product-1-thumbnail-2-lxB7Op {
  background-color: transparent;
  height: 58px;
  left: 28px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 107px;
  width: 57px;
}

.desktop-2 .cart-lxB7Op {
  background-color: transparent;
  height: auto;
  left: 28px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 31px;
  width: 68px;
}

.desktop-2 .spanfy3vc-FxnBUj {
}

.desktop-2 .icon-delete-1-lxB7Op {
  background-color: transparent;
  height: 20px;
  left: 364px;
  mix-blend-mode: normal;
  position: absolute;
  top: 126px;
  width: 18px;
}

.desktop-2 .group-28-9Mbqq5 {
  background-color: transparent;
  height: 51px;
  left: 1064px;
  position: absolute;
  top: 204px;
  width: 247px;
}

.desktop-2 .fall-limited-edition-sneakers-01szpO {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.desktop-2 .spanjn2gqk-A9cdrb {
}

.desktop-2 .x12500-x-3-01szpO {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.54px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 29px;
  width: auto;
}

.desktop-2 .span5ck6p-MGOXP1 {
}

.desktop-2 .x37500-01szpO {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-kumbh_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 103px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 29px;
  width: auto;
}

.desktop-2 .spanj75u8-OFxWxl {
  font-style: normal;
}
