/* screen - iconprevious-1 */

.iconprevious-1 {
  background-color: transparent;
  height: 76px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 51px;
}

.iconprevious-1 .vector-jfBAJw {
  background-color: transparent;
  height: 68px;
  left: 13px;
  position: absolute;
  top: 4px;
  width: 34px;
}
