/* screen - iconcart-2 */

.iconcart-2 {
  background-color: transparent;
  height: 24px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 25px;
}

.iconcart-2 .vector-oTvPgO {
  background-color: transparent;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 25px;
}

.iconcart-2 .vector-14rDcO {
  background-color: transparent;
  height: 24px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 25px;
}
